.navigation {
  background-color: #1a1c1f;
  height: 4rem;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  -webkit-box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.75);
  z-index: 2;
}
.navigation .nav-header {
  color: #f5f5f5;
  position: absolute;
  right: 6vw;
  top: 0;
}
.navigation .nav-icon {
  color: #f5f5f5;
  font-size: 2rem;
  position: absolute;
  left: 20px;
  top: 1rem;
}

.sidebar {
  position: fixed;
  top: 4rem;
  left: 0;
  background-color: #1a1c1f;
  color: #f5f5f5;
  width: 200px;
  height: 100vh;
  transition: width 0.25s ease-in-out;
  -moz-transition: width 0.25s ease-in-out;
  -webkit-transition: width 0.25s ease-in-out;
  overflow: hidden;
  z-index: 1;
}

.background-shadow {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  transition: background-color 0.25s ease-in-out;
  -moz-transition: background-color 0.25s ease-in-out;
  -webkit-transition: background-color 0.25s ease-in-out;
  z-index: 0;
}

.landing {
  margin-top: 30vh;
  margin-left: auto;
  margin-right: auto;
  /* Does this box need a border???? #question of the century */
  /* border: ; */
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.5);
  color: #f5f5f5;
  transition: background-color 0.5s ease-in-out;
  -moz-transition: background-color 0.5s ease-in-out;
  -webkit-transition: background-color 0.5s ease-in-out;
  width: 60vw;
  /* -webkit-box-shadow: 11px 13px 25px 1px rgba(255, 255, 255, 0.35);
    -moz-box-shadow: 11px 13px 25px 1px rgba(255, 255, 255, 0.35);
    box-shadow: 11px 13px 25px 1px rgba(255, 255, 255, 0.35); */
}

/* Is this a good idea??
Darker looks better on mobile but resizing makes the color shift look weird. */
@media only screen and (max-width: 992px) {
  .landing {
    background-color: rgba(0, 0, 0, 0.8);
  }
}
.info {
  display: flex;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
  width: 70vw;
  color: #f5f5f5;
}

.flex-item {
  flex-grow: 1;
  width: 100%;
}

.history {
  margin-top: 20vh;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
  width: 70vw;
  background-color: slategray;
}

.skill-container .skills-container-header {
  margin: 1rem auto;
  padding: 4px 0;
  color: #0fabbc;
  width: 60%;
  max-width: 180px;
  min-width: 120px;
  text-align: center;
  position: relative;
}
.skill-container .skills-container-header:hover {
  cursor: pointer;
}
.skill-container .skills-container-header:before, .skill-container .skills-container-header:after,
.skill-container .skills-container-header span:before,
.skill-container .skills-container-header span:after {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  background: transparent;
  transition: 1s;
}
.skill-container .skills-container-header:before {
  top: -2px;
  left: -2px;
  border-top: 2px solid #f5f5f5;
  border-left: 2px solid #f5f5f5;
}
.skill-container .skills-container-header:after {
  top: -2px;
  right: -2px;
  border-top: 2px solid #f5f5f5;
  border-right: 2px solid #f5f5f5;
}
.skill-container .skills-container-header span::before {
  bottom: -2px;
  left: -2px;
  border-bottom: 2px solid #f5f5f5;
  border-left: 2px solid #f5f5f5;
}
.skill-container .skills-container-header span::after {
  bottom: -2px;
  right: -2px;
  border-bottom: 2px solid #f5f5f5;
  border-right: 2px solid #f5f5f5;
}
.skill-container .skills-container-header:hover::before, .skill-container .skills-container-header:hover::after, .skill-container .skills-container-header:hover span::before, .skill-container .skills-container-header:hover span::after {
  width: calc(180px / 2);
  height: calc(50px / 2);
}

.skills-list {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  -webkit-transition: max-height 0.75s ease-in-out;
  -moz-transition: max-height 0.75s ease-in-out;
  -ms-transition: max-height 0.75s ease-in-out;
  -o-transition: max-height 0.75s ease-in-out;
  transition: max-height 0.75s ease-in-out;
  max-height: 1000px;
}
.skills-list.flat {
  max-height: 0;
}
.skills-list li {
  padding: 8px 0;
}
.skills-list .skill-header {
  padding-top: 1rem;
  padding-left: 0.5rem;
  font-weight: bold;
  color: #fa1616;
}
.skills-list .skill-header:first-of-type {
  padding-top: 0;
}

.skill-item {
  display: flex;
  width: 90%;
}
.skill-item div {
  padding: 4px 1rem;
  width: 50%;
  box-sizing: border-box;
}
.skill-item div:first-of-type {
  margin-right: 1.3rem;
  padding-left: 1rem;
  padding-right: 0;
  flex-grow: 2;
  -webkit-box-shadow: 5px 0px 5px -3px whitesmoke;
  -moz-box-shadow: 5px 0px 5px -3px whitesmoke;
  box-shadow: 5px 0px 5px -3px whitesmoke;
}
.skill-item div:last-of-type {
  padding-right: 0;
  flex-grow: 5;
  -webkit-box-shadow: -5px 0px 5px -3px whitesmoke;
  -moz-box-shadow: -5px 0px 5px -3px whitesmoke;
  box-shadow: -5px 0px 5px -3px whitesmoke;
}

.about-header {
  margin-top: 0;
  padding-top: 0;
  color: #fa1616;
}

.social-links {
  margin-top: 2rem;
  font-size: 2rem;
  display: flex;
  justify-content: space-around;
}
.social-links a {
  transition: color 0.2s ease-in-out;
  -moz-transition: color 0.2s ease-in-out;
  -webkit-transition: color 0.2s ease-in-out;
  color: #f5f5f5;
}
.social-links a:hover {
  color: #fa1616;
}

.projects-container {
  position: relative;
  background-color: #f5f5f5;
  color: #1a1c1f;
  position: relative;
  z-index: 1;
}
.projects-container:before {
  background: inherit;
  top: -2.5rem;
  content: "";
  display: block;
  height: 50%;
  left: 0;
  position: absolute;
  right: 0;
  transform: skewY(-1.5deg);
  transform-origin: 100%;
  z-index: -1;
}

.projects {
  padding: 3rem;
}
.projects .projects-header {
  margin: 0;
  padding: 0;
  text-align: center;
  color: #0fabbc;
}

.projects-list {
  margin-top: 3rem;
  display: flex;
  justify-content: space-around;
}
.projects-list .project-card {
  padding: 1rem;
  box-sizing: border-box;
  border-radius: 8px;
  max-width: 20vw;
  min-width: 200px;
  -webkit-box-shadow: 10px 5px 15px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 10px 5px 15px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 10px 5px 15px 2px rgba(0, 0, 0, 0.2);
}
.projects-list .project-card h4 {
  margin: 0;
  padding: 0;
  text-align: center;
}
.projects-list .project-card img {
  margin-top: 0.6rem;
  padding-top: 100%;
  width: 100%;
  -webkit-box-shadow: inset 5px 5px 10px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 5px 5px 10px 2px rgba(0, 0, 0, 0.2);
  box-shadow: inset 5px 5px 10px 2px rgba(0, 0, 0, 0.2);
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: sans-serif;
  background: black url(../img/nathan-dumlao-KixfBEdyp64-unsplash-smaller.jpg) no-repeat fixed center;
  background-size: cover;
}

.content-container {
  margin: 0;
  margin-top: 45vh;
  padding: 10vh 0;
  background-color: #1a1c1f;
}

/*# sourceMappingURL=index.css.map */
