.projects-container {
  position: relative;
  background-color: $secondary;
  color: $primary;
  position: relative;
  z-index: 1;

  &:before {
    background: inherit;
    top: -2.5rem;
    content: '';
    display: block;
    height: 50%;
    left: 0;
    position: absolute;
    right: 0;
    transform: skewY(-1.5deg);
    transform-origin: 100%;
    z-index: -1;
  }
}

.projects {
  padding: 3rem;

  .projects-header {
    margin: 0;
    padding: 0;
    text-align: center;
    color: $blue-1;
  }
}

.projects-list {
  margin-top: 3rem;
  display: flex;
  justify-content: space-around;

  .project-card {
    padding: 1rem;
    box-sizing: border-box;

    border-radius: 8px;

    max-width: 20vw;
    min-width: 200px;

    -webkit-box-shadow: 10px 5px 15px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 10px 5px 15px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 10px 5px 15px 2px rgba(0, 0, 0, 0.2);

    h4 {
      margin: 0;
      padding: 0;
      text-align: center;
    }

    img {
      margin-top: 0.6rem;

      padding-top: 100%;
      width: 100%;

      -webkit-box-shadow: inset 5px 5px 10px 2px rgba(0, 0, 0, 0.2);
      -moz-box-shadow: inset 5px 5px 10px 2px rgba(0, 0, 0, 0.2);
      box-shadow: inset 5px 5px 10px 2px rgba(0, 0, 0, 0.2);
    }
  }
}
